  <!-- START WHAT WE ARE DESIGN AREA  -->
  <section class="what-we-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>What We Do</h2>
                      <p>
                          We are pleased to introduce to you <strong>LUCKY CHILD ENTERPRISE</strong>. It is a registered company operating in Ghana.
                          We supply sportswear and equipments for schools and companies. Also our supplies include general goods.
                      </p>
                  </div>
              </div>
          </div>
          <!-- <div class="row" data-aos="fade-up">
              <div class="col-md-4 col-sm-6">
                  <div class="single-what what-color-1">
                      <div class="service-icon"><i class="fa fa-globe" aria-hidden="true"></i>
                      </div>
                      <h4>Digital Branding</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="single-what what-color-2">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>Web Interactive</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="single-what what-color-3">
                      <div class="service-icon"><i class="fa fa-recycle" aria-hidden="true"></i>
                      </div>
                      <h4>Graphic Design</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
          </div> -->
      </div>
  </section>
  <!-- / END WHAT WE ARE DESIGN AREA  -->



  <!-- VIDEO BACKGROUND DESIGN AREA -->
  <!-- <section class="video-area" data-stellar-background-ratio="0.6">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="video-area-text text-center" data-aos="fade-up">
                      <a href="https://www.youtube.com/watch?v=UjYemgbhJF0" class="video-play mfp-iframe window-toggle">
                          <i class="fa fa-play"></i>
                      </a>
                      <h2>Unique. Powerful. Creative.</h2>
                      <p>We provide high quality and cost effective offshore web and software development services.</p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!-- / END VIDEO BACKGROUND DESIGN AREA -->

  <!-- START SERVICE DESIGN AREA -->
  <section id="service" class="service-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>Our Services</h2>
                      <p><strong>LuckyChild Enterprise</strong> is a sole dealer in sportswear and equipments for schools and companies in any quantity. Also our supplies include general goods, kids Dresses and many more</p>
                  </div>
              </div>
          </div>
          <div class="row" data-aos="fade-up">
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-superpowers" aria-hidden="true"></i>
                      </div>
                      <h4>Sportswear</h4>
                      <p>We suply quality Sportswear for schools and any institutions that requires sportswares, Our sportswares are created from good and quality materials which makes it strong and longlasting. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->

              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
                      </div>
                      <h4>Children products</h4>
                      <p>We supply good quality Children products of any kinds in large and small qualities for both whole sales and retails at a higly affordable prices. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->

              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".4s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-eercast" aria-hidden="true"></i>
                      </div>
                      <h4>Equipments</h4>
                      <p>We supplies Equipments of any kind for schools, companies, institutions and individuals, such equipments includes sports, working equipments and many more. All equipments are manufactured from good and reputable companies. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->

          </div>
      </div>
  </section>
  <!-- / END SERVICE DESIGN AREA -->



  <!-- START WORK DESIGN AREA -->
  <section id="work" class="work section-padding">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>featured works.</h2>
                      <p>LuckyChild Has worked with many companies as well as schools, Below are some of the products we supplied to out satisfied clients across the country.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <ul class="work">
                  <li class="filter" data-filter="all">all</li>
                  <li class="filter" data-filter=".webdesign">One</li>
                  <li class="filter" data-filter=".development">Two</li>
                  <li class="filter" data-filter=".photography">Three</li>
              </ul>
          </div>
          <div class="work-inner text-center">
              <div class="row work-posts grid">
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix webdesign">
                    <div class="item">
                        <a href="assets/images/work/1.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/1.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Web Solution</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/2.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/2.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Product branding</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix photography webdesign">
                    <div class="item">
                        <a href="assets/images/work/3.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/3.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Seo Consult</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/4.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/4.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Java gamming</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development webdesign">
                    <div class="item">
                        <a href="assets/images/work/5.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/5.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>affiliate work</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix photography">
                    <div class="item">
                        <a href="assets/images/work/6.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/6.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>marketing</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix photography webdesign">
                    <div class="item">
                        <a href="assets/images/work/7.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/7.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Seo Consult</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix photography">
                    <div class="item">
                        <a href="assets/images/work/8.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/8.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>marketing</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development webdesign">
                    <div class="item">
                        <a href="assets/images/work/9.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/9.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>affiliate work</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/10.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/10.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Java gamming</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development webdesign">
                    <div class="item">
                        <a href="assets/images/work/11.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/11.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>affiliate work</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-3 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/12.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/12.jpg" alt="image">
                                <figcaption>
                                    <h2><i class="fa fa-eye"></i></h2>
                                    <!-- <p>Product branding</p> -->
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
              </div>
          </div>
      </div>
  </section>
  <!-- / END START WORK DESIGN AREA -->


  <!-- START CONTACT DESIGN AREA -->
  <section id="contact" class="contact-area section-padding" data-stellar-background-ratio="0.6">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>contact us</h2>
                      <p>Our technical and sales team, will be happy to hear or assist you in anything you want to know within 24hours</p>
                  </div>
              </div>
          </div>
          <div class="row contact-form-design-area">
              <!-- / END CONTACT FORM INFOMATION DESIGN AREA -->
              <div class="col-md-12">
                  <!-- START CONTACT FORM DESIGN AREA -->
                  <div class="contact-form">
                      <form id="contact-form" method="post" enctype="multipart/form-data">
                          <div class="row">
                              <div class="form-group col-md-6">
                                  <input type="text" name="name" class="form-control" id="first-name" placeholder="Enter Your Name" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="tel" name="phone" class="form-control" id="phone" placeholder="Your Phone Number" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="text" name="subject" class="form-control" id="subject" placeholder="Your Subject" required="required">
                              </div>
                              <div class="form-group col-md-12">
                                  <textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required="required"></textarea>
                              </div>
                              <div class="col-md-12">
                                  <div class="actions wow fadeInDown" data-wow-delay=".4s">
                                      <input type="submit" value="send message" name="submit" id="submitButton" class="btn btn-lg btn-contact-bg" title="Submit Your Message!">
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- / END CONTACT FORM DESIGN AREA -->
              </div>
          </div>
      </div>
  </section>
  <!-- / END CONTACT DESIGN AREA -->

  <!-- START FOOTER TOP DESIGN AREA -->
  <section class="contact-details-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="single-contact-info">
                      <i class="fa fa-map-marker"></i>
                      <h2>Visit Office</h2>
                      <p>New Makola Shopping Mall, No.152 Makola Market Accra.</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single-contact-info">
                      <i class="fa fa-mobile"></i>
                      <h2>Call us</h2>
                      <p>(+233) 244 763 642.</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single-contact-info">
                      <i class="fa fa-shower"></i>
                      <h2>work hour</h2>
                      <p>Monday to friday</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single-contact-info">
                      <i class="fa fa-envelope-open"></i>
                      <h2>Email us</h2>
                      <p>ority@gmail.com</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- / END FOOTER TOP DESIGN AREA -->